@CHARSET "UTF-8";
body {
	color: #000;
	font: 100%/1.5em "Varela Round", sans-serif;
  font-weight: bold;
}
input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	
}

fieldset {
  border: 2px solid #ffc72e;
}


#login {
	margin: 50px auto;
	width: 400px;
}
#login h2 {
	background: #f95252;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
	 margin-bottom: 10%;
  margin-top: 0%;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background: #fff;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	border-radius: 3px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
	background: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"], #login fieldset input[type="button"] {
	background: #33cc77;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover, #login fieldset input[type="button"]:hover{
	background: #28ad63;
}

#table{
	text-align: center;
	margin: auto;
}